<div class="container__big-card">
  <div class="big_card__photo">
    <img
      src="https://images.squarespace-cdn.com/content/v1/5d3f5ab4e0b0f80001519db3/1626990457893-KDTMF2R30NHNAV672GYN/CFC24B4A-AB8B-49A6-A53A-EC69C297D9DE.jpeg?format=2500w "
      alt=""
      height="450"
      srcset=""

    >

  </div>
  <div class="big-card__title">
    <h1><a href="https://en.wikipedia.org/wiki/Middle-earth">Middle-earth is the main continent of Earth (Arda) in an imaginary period of the Earth's past, ending with Tolkien's Third Age, about 6,000 years ago.</a></h1>

  </div>
  <div class="big-card__descripion">
    <p>Terra Média é a terra antiga e fictícia de J. R. R. Tolkien, onde a maioria dos contos do seu imaginário ocorrem. Terra Média é a tradução literal do termo anglo-saxão middangeard, referindo-se a este mundo, o reino dos humanos. No link acima, você encontrara mais informações sobre esse maravilhoso mundo de Tolkien. (Fonte: wikipedia) </p>
  </div>
</div>
