<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://images.squarespace-cdn.com/content/v1/5d3f5ab4e0b0f80001519db3/1626990457893-KDTMF2R30NHNAV672GYN/CFC24B4A-AB8B-49A6-A53A-EC69C297D9DE.jpeg?format=2500w"
      cardTitle="Middle-earth is the main continent of Earth (Arda) in an imaginary period of the Earth's past, ending with Tolkien's Third Age, about 6,000 years ago."
      cardDescription="Terra Média é a terra antiga e fictícia de J. R. R. Tolkien, onde a maioria dos contos do seu imaginário ocorrem. Terra Média é a tradução literal do termo anglo-saxão middangeard, referindo-se a este mundo, o reino dos humanos. No link acima, você encontrara mais informações sobre esse maravilhoso mundo de Tolkien. (Fonte: wikipedia)"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle =" The Shire "
      photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Hobbiton%2C_New_Zealand.jpg/300px-Hobbiton%2C_New_Zealand.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Rivendell"
      photoCover="https://static.wikia.nocookie.net/lotr/images/7/70/Jerry_Vanderstelt_-_Rivendell.jpg/revision/latest?cb=20180501204919"
    >
    </app-small-card>


    <app-small-card
      Id="4"
      cardTitle="Mordor"
      photoCover ="https://t3.ftcdn.net/jpg/05/43/63/92/360_F_543639248_VylNFt8EtBXkpQ08SmnCFjyGirOaBING.jpg "
    >
    </app-small-card>
  </div>
</div>
